<div class="content_container">

  <div class="list_container">
    <h1>Ono Kau Kau</h1>
    <ul>
      <li>Step 1: Order Chicken Katsu</li>
      <li>Step 2: Eat Chicken Katsu</li>
      <li>Step 3: Profit</li>
    </ul>
  </div>

</div>